<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Filters</title>
</head>
<body>
<form class="filter" th:action="@{/schedule}" th:object="${scheduleFilter}" method="get" style="margin: 20px">
    <div class="form-row" style="margin-bottom: 20px">
        <div class="col-md-auto">
            <label for="dateFrom"><span th:text="#{lessons.at}"></span></label>
        </div>
        <div class="col-md-2">
            <input id="dateFrom" type="date" class="form-control" name="dateFrom" th:field="*{dateFrom}"
                   th:value="*{dateFrom}"/>
        </div>

        <div class="col-md-auto">
            <label for="dateTo">-</label>
        </div>
        <div class="col-md-2">
            <input id="dateTo" type="date" class="form-control" th:field="*{dateTo}" th:value="*{dateFrom}"/>
        </div>

        <div class="col-md-auto">
            <label for="stream"><span th:text="#{lessons.stream}"></span></label>
        </div>
        <div class="col-md-2">
            <select id="stream" class="form-control">
                <option selected><span th:text="#{select.stream}"></span></option>
                <option th:each="stream : ${streams}"
                        th:value="${stream.id}"
                        th:utext="${stream.name}"></option>
            </select>
        </div>

        <span class="col-md-auto form-check form-check-inline">
                <input id="closed" type="checkbox" class="form-check-input"/>
                <label for="closed" class="form-check-label"><span th:text="#{lessons.closed}"></span></label>
            </span>

        <span class="col-md-auto form-check form-check-inline">
            <input id="past" type="checkbox" class="form-check-input"/>
            <label for="past" class="form-check-label"><span th:text="#{lessons.past}"></span></label>
        </span>

        <span class="col-md-auto form-check form-check-inline">
            <input id="loadNotes" type="checkbox" class="form-check-input"/>
            <label for="loadNotes" class="form-check-label fa fa-info-circle"></label>
        </span>

        <div class="col-md-auto">
            <label for="schedule"><span th:text="#{lessons.time}"></span></label>
        </div>
        <div class="col-md-2">
            <select id="schedule" class="form-control">
                <option selected><span th:text="#{select.empty}"></span></option>
                <option th:each="time : ${lessonsTime}"
                        th:value="${time.id}"
                        th:utext="${time.getCaption()}"></option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-0.5">
            <label for="discipline"><span th:text="#{lessons.discipline}"></span></label>
        </div>
        <div class="col-md-3">
            <select id="discipline" class="form-control">
                <option selected><span th:text="#{select.discipline}"></span></option>
                <option th:each="discipline : ${disciplines}"
                        th:value="${discipline.id}"
                        th:utext="${discipline.name}"></option>
            </select>
        </div>

        <div class="col-md-0.5">
            <label for="type"><span th:text="#{lessons.type}"></span></label>
        </div>
        <div class="col-md-3">
            <select id="type" class="form-control">
                <option selected><span th:text="#{select.lessonType}"></span></option>
                <option th:each="type : ${lessonTypes}"
                        th:value="${type.id}"
                        th:utext="${type.name}"></option>
            </select>
        </div>

        <div class="col-md-0.5">
            <label for="group"><span th:text="#{lessons.group}"></span></label>
        </div>
        <div class="col-md-3">
            <select id="group" class="form-control">
                <option selected><span th:text="#{select.group}"></span></option>
                <option th:each="group : ${groups}"
                        th:value="${group.id}"
                        th:utext="${group.name}"></option>
            </select>
        </div>

        <div class="col-md-2.5">
            <input type="submit" class="btn btn-primary fa fa-fw fa-search" style="width: 150%; height: 100%"
                   th:value="#{btn.search}"/>
        </div>
    </div>
</form>
</body>
</html>