<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>pagination</title>
</head>
<body>
<div th:fragment="pagination" th:if="${totalPages > 1}"
     th:with="pageUrlPostfix = '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection} + '&isArchived=' + ${isArchived} + '&search=' + ${search}">
    <nav>
        <ul class="pagination justify-content-center flex-wrap"
            th:with="pageUrlPrefix = '/students?page='">
            <li th:class="${currentPage + 1 > 1 ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{${pageUrlPrefix} + '0' + ${pageUrlPostfix}}" class="page-link">First</a>
            </li>
            <li th:class="${currentPage + 1 > 1 ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${currentPage - 1} + ${pageUrlPostfix}}" class="page-link">Previous</a>
            </li>
            <th:block th:if="${totalPages <= 10}">
                <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{${pageUrlPrefix} + ${i - 1} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
                </li>
            </th:block>
            <th:block th:if="${totalPages > 10}">
                <th:block th:if="${currentPage + 1 <= 5 || currentPage + 1 >  totalPages - 4}">
                    <li th:each="i: ${#numbers.sequence(1, 5)}" th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                        <a th:href="@{${pageUrlPrefix} + ${i - 1} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
                    </li>
                    <a th:href="@{${pageUrlPrefix} + 6 + ${pageUrlPostfix}}" class="page-link">...</a>
                    <li th:each="i: ${#numbers.sequence(totalPages - 4, totalPages)}" th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                        <a th:href="@{${pageUrlPrefix} + ${i - 1} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
                    </li>
                </th:block>
                <th:block th:if="${currentPage + 1 > 5 && currentPage + 1 < totalPages - 5}">
                    <a th:href="@{${pageUrlPrefix} + ${currentPage - 4} + ${pageUrlPostfix}}" class="page-link">...</a>
                    <li th:each="i: ${#numbers.sequence(currentPage - 3, currentPage + 5)}" th:class="${currentPage + 1 != i ? 'page-item' : 'page-item disabled'}">
                        <a th:href="@{${pageUrlPrefix} + ${i - 1} + ${pageUrlPostfix}}" class="page-link">[[${i}]]</a>
                    </li>
                    <a th:href="@{${pageUrlPrefix} + ${currentPage + 6} + ${pageUrlPostfix}}" class="page-link">...</a>
                </th:block>
            </th:block>
            <li th:class="${currentPage + 1 < totalPages ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${currentPage + 1} + ${pageUrlPostfix}}" class="page-link">Next</a>
            </li>
            <li th:class="${currentPage + 1 < totalPages ? 'page-item' : 'page-item disabled'}">
                <a th:href="@{${pageUrlPrefix} + ${totalPages - 1} + ${pageUrlPostfix}}" class="page-link">Last</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>