<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFile" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="height: 50px; width: 70px;">
                    <i class="fa fa-fw fa-file"></i><span th:text="#{menu.file}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownFile">
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-file"></i><span th:text="#{menu.settings}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-refresh"></i><span th:text="#{menu.refresh}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-toggle-off"></i><span th:text="#{menu.connection.connectReader}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-toggle-on"></i><span th:text="#{menu.connection.disconnectReader}"></span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-database"></i><span th:text="#{menu.connection.disconnected}"></span></a>
                    <a class="dropdown-item" href="#"><i class="ui-icon-signal-diag"></i><span th:text="#{menu.connection.disconnected}"></span></a>
                </div>
            </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdd" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-plus"></i><span th:text="#{menu.file.new}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownAdd">
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-paperclip"></i><span th:text="#{menu.file.new.discipline}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-list-alt"></i><span th:text="#{menu.file.new.department}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-code-fork"></i><span th:text="#{menu.file.new.stream}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-users"></i><span th:text="#{menu.file.new.group}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i><span th:text="#{menu.file.new.student}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-file-photo-o"></i><span th:text="#{menu.load.photo}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-arrow-circle-o-down"></i><span th:text="#{menu.load.csv}"></span></a>
                </div>
            </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownShow" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-bars"></i><span th:text="#{menu.show}"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownShow">
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-paperclip"></i><span th:text="#{menu.show.disciplines}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-list-alt"></i><span th:text="#{menu.show.departments}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-code-fork"></i><span th:text="#{menu.show.streams}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-users"></i><span th:text="#{menu.show.groups}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i><span th:text="#{menu.show.students}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i><span th:text="#{menu.show.students.all}"></span></a>
                </div>
            </li>

            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownModes" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-list-alt"></i><span>Modes</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownModes">
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-rss"></i><span th:text="#{option.registrationMode}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-dedent"></i><span th:text="#{option.lessonMode}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-file-image-o"></i><span th:text="#{option.photoMode}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-calendar"></i><span th:text="#{option.lessons}"></span></a>
                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i><span th:text="#{option.studentMode}"></span></a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-plus"></i><span th:text="#{menu.new.lesson}"></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-rss"></i><span th:text="#{option.registrationMode}"></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-user"></i><span th:text="#{option.studentMode}"></span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-fw fa-calendar"></i><span th:text="#{menu.show.lessons}"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>