<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Группы</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<header th:insert="fragments/menu.html :: menu"></header>

<table th:fragment="streamFragment" class="table table-stripped table-bordered margin-top10">
    <thead class="thead-light">
    <tr>
        <th th:text="#{groups}" style="text-align:center"></th>
        <th th:text="#{option.edit}" style="text-align:center"></th>
        <th th:text="#{option.remove}" style="text-align:center"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="group : ${groups}">
        <td th:text="${group.name}" style="width: 85%"></td>
        <td style="text-align:center">
            <button class="btn btn-outline-info" th:onclick="'javascript:getGroupInfoById(' + ${group.id} + ')'">
                <i class="fa fa-fw fa-pencil"></i></button>
            <div id="streamInfoHolder"></div>
        </td>
        <td style="text-align:center">
            <form th:action="@{/groups/{id}(id=${group.id})}" th:method="delete">
                <button type="submit" class="btn btn-outline-danger"><i class="fa fa-trash"></i></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>